<h2>Task</h2>
<div class="container-fluid" *ngIf="Task">
    <div class="row">
      <div class="col-md-4">{{ Task.TaskTypeTitle }}</div>
      <div class="col-md-4">Owned by {{ Task.TaskOwnerName }}</div>
      <div class="col-md-4">Created on {{ FormatTimestamp(Task.CreateTimestamp) }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="control-label">Message</label>:
      </div>
      <div class="col-md-5">{{ Task.Message }}</div>
    </div>
    <div class="row">
      <button *ngIf="!Task.IsClosed" class="btn btn-default" (click)="CloseTask()">Close</button>
    </div>
</div>
<div [hidden]="SpinnerHidden">  
  <i class="fa fa-cog fa-spin" style="font-size:36px; margin: 25px;"></i>
</div>
<div class="container" *ngIf="Task">
  <div class="row">
    <div class="col-md-5 offset-md-7">
        <div [hidden]="FormsSpinnerHidden" style="display: inline;">
          <i class="fa fa-cog fa-spin" style="font-size:36px; margin: 25px;"></i>
          <p>Looking up form data</p>
        </div>
        <label style="font-weight: bold">Forms</label>
        <div *ngFor="let h of FormContent" [innerHTML]="h" style="border: gray 2px ridge; padding: 2px 1px;"></div>
    </div>
  </div>
</div>