<h2>Request Membership</h2>
<p>Membership to Jester Credit Union is completely open.  Fill out and submit the following form.  We'll email you when you're member ship request is complete.</p>
<form novalidate="novalidate" name="membershipForm" #membershipForm="ngForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Full Name</label>:
      </div>
      <div class="col-md-8">
        <input id="FullName" name="FullName" #fullNameInput="ngModel" type="text" required="required" class="form-control" [(ngModel)]="membershipRequest.FullName"/>
        <div [hidden]="fullNameInput.valid || fullNameInput.pristine" class="alert alert-danger">is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Short / Nick / First Name</label>:
      </div>
      <div class="col-md-8">
        <input id="ShortName" name="ShortName" #shortNameInput="ngModel" type="text" required="required" class="form-control" [(ngModel)]="membershipRequest.ShortName"/>
        <div [hidden]="shortNameInput.valid || shortNameInput.pristine" class="alert alert-danger">is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Gender</label>:
      </div>
      <div class="col-md-8">
        <select id="Gender" name="Gender" *ngIf="genders" required="required" class="form-control" [(ngModel)]="membershipRequest.GenderCode">
          <option *ngFor="let g of genders" [value]="g.Code">{{ g.Description }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Birth Date</label>:
      </div>
      <div class="col-md-8">
        <input id="BirthDate" name="BirthDate" #birthDateInput="ngModel" type="date" required="required" class="form-control" [(ngModel)]="membershipRequest.BirthDate"/>
        <div [hidden]="birthDateInput.valid || birthDateInput.pristine" class="alert alert-danger">is required</div>
      </div>
    </div>
    <div class="row">
      <h3>Mailing Address</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Address:</label>:
      </div>
      <div class="col-md-8">
        <input id="Address" name="Addresss" #addressInput="ngModel" type="text" class="form-control" [(ngModel)]="membershipRequest.Address"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">City</label>:
      </div>
      <div class="col-md-8">
        <input id="City" name="City" #cityInput="ngModel" type="text" class="form-control" [(ngModel)]="membershipRequest.City"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">State</label>:
      </div>
      <div class="col-md-8">
        <input id="State" name="State" #stateInput="ngModel" type="text" maxlength="2" pattern="[a-zA-Z]{2}" class="form-control" [(ngModel)]="membershipRequest.State"/>
        <div *ngIf="stateInput.invalid && (stateInput.dirty || stateInput.touched)">
          <div *ngIf="stateInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Postal Code</label>:
      </div>
      <div class="col-md-8">
        <input id="PostalCode" name="PostalCode" #postalCodeInput="ngModel" type="text" maxlength="5" 
          pattern="[0-9]{5}" 
          class="form-control" 
          [(ngModel)]="membershipRequest.PostalCode"/>

        <div *ngIf="postalCodeInput.invalid && (postalCodeInput.dirty || postalCodeInput.touched)">
          <div *ngIf="postalCodeInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Contact Information</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Phone Number</label>:
      </div>
      <div class="col-md-8">
        <input id="PhoneNumber" name="PhoneNumber" #phoneNumberInput="ngModel" type="text" maxlength="15" 
          pattern="1{0,1}([\(\.\- ]{0,1}[0-9]{3}[\)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4})" 
          class="form-control"
          [(ngModel)]="membershipRequest.PhoneNumber"/>

        <div *ngIf="phoneNumberInput.invalid && (phoneNumberInput.dirty || phoneNumberInput.touched)">
          <div *ngIf="phoneNumberInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Email Address</label>:
      </div>
      <div class="col-md-8">
        <input id="EmailAddress" name="EmailAddress" #emailAddressInput="ngModel" type="text" maxlength="250" 
          pattern="\S+@\S+" 
          class="form-control" 
          [(ngModel)]="membershipRequest.EmailAddress"/>

        <div *ngIf="emailAddressInput.invalid && (emailAddressInput.dirty || emailAddressInput.touched)">
          <div *ngIf="emailAddressInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Occupancy</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Status</label>:
      </div>
      <div class="col-md-8">
        <select id="OccupancyStatus" name="OccupancyStatus" *ngIf="occupancyStatuses" class="form-control" [(ngModel)]="membershipRequest.OccupancyStatusCode">
          <option *ngFor="let s of occupancyStatuses" [value]="s.Code">{{ s.Description }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Duration</label>:
      </div>
      <div class="col-md-1">
          <label class="control-label">Years</label>
      </div>
      <div class="col-md-3">        
        <input id="OccupanceDurationYears" name="OccupanceDurationYears" #occupanceDurationYearsInput="ngModel" type="text" 
          maxlength="2"
          pattern="[0-9]{0,2}" 
          class="form-control"
          [(ngModel)]="membershipRequest.OccupanceDurationYears"/>

        <div *ngIf="occupanceDurationYearsInput.invalid && (occupanceDurationYearsInput.dirty || occupanceDurationYearsInput.touched)">
          <div *ngIf="occupanceDurationYearsInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
      <div class="col-md-1">
          <label class="control-label">Months</label>
      </div>
      <div class="col-md-3">        
        <input id="OccupanceDurationMonths" name="OccupanceDurationMonths" #occupanceDurationYearsInput="ngModel" type="text" 
          maxlength="2"
          pattern="[0-9]{0,2}" 
          class="form-control"
          [(ngModel)]="membershipRequest.OccupanceDurationMonths"/>

        <div *ngIf="occupanceDurationYearsInput.invalid && (occupanceDurationYearsInput.dirty || occupanceDurationYearsInput.touched)">
          <div *ngIf="occupanceDurationYearsInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Identity</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Drivers License Number</label>:
      </div>
      <div class="col-md-8">
        <input id="DLNumber" name="DLNumber" #addressInput="ngModel" type="text" class="form-control" [(ngModel)]="membershipRequest.DriversLicenseNumber"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Drivers License State</label>:
      </div>
      <div class="col-md-8">
        <input id="DLState" name="DLState" #dlStateInput="ngModel" type="text" maxlength="2" 
          pattern="[a-zA-Z]{2}" 
          class="form-control" 
          [(ngModel)]="membershipRequest.DriversLicenseState"/>

        <div *ngIf="dlStateInput.invalid && (dlStateInput.dirty || dlStateInput.touched)">
          <div *ngIf="dlStateInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Drivers License Issued Date</label>:
      </div>
      <div class="col-md-8">
        <input id="DLIssueDate" name="DLIssueDate" #dlIssueDateInput="ngModel" 
          type="date" 
          class="form-control" 
          [(ngModel)]="membershipRequest.DriversLicenseIssuedDate"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Drivers License Expiration Date</label>:
      </div>
      <div class="col-md-8">
        <input id="DLExpirationDate" name="DLExpirationDate" #dlExpirationDateInput="ngModel" 
          type="date" 
          class="form-control" 
          [(ngModel)]="membershipRequest.DriversLicenseExpirationDate"/>
      </div>
    </div>
    <div class="row">
      <h3>Employment</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Status</label>:
      </div>
      <div class="col-md-8">
        <select id="EmploymentStatus" name="EmploymentStatus" *ngIf="employmentStatuses" class="form-control" [(ngModel)]="membershipRequest.EmploymentStatusCode">
          <option *ngFor="let s of employmentStatuses" [value]="s.Code">{{ s.Description }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Job Title</label>:
      </div>
      <div class="col-md-8">
        <input id="JobTitle" name="JobTitle" #jobTitleInput="ngModel" type="date" class="form-control" [(ngModel)]="membershipRequest.JobTitle"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Employer</label>:
      </div>
      <div class="col-md-8">
        <input id="Employer" name="Employer" #employerInput="ngModel" type="date" class="form-control" [(ngModel)]="membershipRequest.Employer"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Duration</label>:
      </div>
      <div class="col-md-1">
          <label class="control-label">Years</label>
      </div>
      <div class="col-md-3">
        <input id="EmploymentDurationYears" name="EmploymentDurationYears" #employmentDurationYearsInput="ngModel" 
          type="text" 
          maxlength="2"
          pattern="[0-9]{0,2}" 
          class="form-control"
          [(ngModel)]="membershipRequest.EmploymentDurationYears"/>

        <div *ngIf="employmentDurationYearsInput.invalid && (employmentDurationYearsInput.dirty || employmentDurationYearsInput.touched)">
          <div *ngIf="employmentDurationYearsInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
      <div class="col-md-1">
          <label class="control-label">Months</label>
      </div>
      <div class="col-md-3">
        <input id="EmploymentDurationMonths" name="EmploymentDurationMonths" #employmentDurationMonthsInput="ngModel" 
          type="text" 
          maxlength="2"
          pattern="[0-9]{0,2}" 
          class="form-control"
          [(ngModel)]="membershipRequest.EmploymentDurationMonths"/>

        <div *ngIf="employmentDurationMonthsInput.invalid && (employmentDurationMonthsInput.dirty || employmentDurationMonthsInput.touched)">
          <div *ngIf="employmentDurationMonthsInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Gross Annual Income</label>:
      </div>
      <div class="col-md-3">
        <input id="GrossAnnualIncome" name="GrossAnnualIncome" #grossAnnualIncomeInput="ngModel" 
          type="text" 
          pattern="[0-9]{0,3}(([0-9]{3},){1,2}[0-9]{3}){0,1}" 
          class="form-control"
          [(ngModel)]="membershipRequest.GrossAnnualIncome"/>

        <div *ngIf="grossAnnualIncomeInput.invalid && (grossAnnualIncomeInput.dirty || grossAnnualIncomeInput.touched)">
          <div *ngIf="grossAnnualIncomeInput.errors.pattern" class="alert alert-danger">is invalid</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-default" [disabled]="!membershipForm.form.valid">Submit</button>
      </div>
    </div>
  </div>
</form>