<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JestersCreditUnion.Service.Common.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <JestersCreditUnion.Service.Common.My.MySettings>
            <setting name="adpAuth0Domain" serializeAs="String">
                <value>abyssaldataprocessor-dvlp.auth0.com</value>
            </setting>
            <setting name="adpBaseAddress" serializeAs="String">
                <value>http://localhost:65026/</value>
            </setting>
            <setting name="adpClientId" serializeAs="String">
                <value>rgxB7Xs04SmIpNkcjA4AnxjjcvPbaJdv</value>
            </setting>
            <setting name="adpSecret" serializeAs="String">
                <value>mNhhFYD8y6WZlxPhBVBjPu0UqK-gu-2JFvtyGxi_vYQK5g9rW8TKumqF0HWfPBA8</value>
            </setting>
            <setting name="adpAudience" serializeAs="String">
                <value>http://localhost/api</value>
            </setting>
            <setting name="jcuAuth0Domain" serializeAs="String">
                <value>jestercreditunion-dvlp.auth0.com</value>
            </setting>
        </JestersCreditUnion.Service.Common.My.MySettings>
    </applicationSettings>
</configuration>
