<h2>Event</h2>
<div [hidden]="SpinnerHidden">  
  <i class="fa fa-cog fa-spin" style="font-size:36px; margin: 25px;"></i>
</div>
<form *ngIf="EventType" novalidate="novalidate" name="eventTypeForm" #eventTypeForm="ngForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Title</label>:
      </div>
      <div class="col-md-8">
        <input id="Title" name="Title" #titleInput="ngModel" type="text" required="required" class="form-control" [(ngModel)]="EventType.Title"/>
        <div [hidden]="titleInput.valid || titleInput.pristine" class="alert alert-danger">is required</div>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-default" [disabled]="!eventTypeForm.form.valid" (click)="Submit()">Submit</button>
      </div>
    </div>   
  </div>
</form> 