<h2>Groups</h2>  
<h3 *ngIf="TaskType">{{ TaskType.ShortName }}</h3>
<div [hidden]="SpinnerHidden">  
  <i class="fa fa-cog fa-spin" style="font-size:36px; margin: 25px;"></i>
</div>
<form *ngIf="Groups" novalidate="novalidate" name="userGroupForm" #userGroupForm="ngForm">
<div class="container-fluid">
    <div *ngFor="let g of Groups" class="row">
        <label>
        <input type="checkbox" id="IsActive" name="IsActive" [checked]="g.IsActive" (change)="g.IsActive = !g.IsActive"/>
        {{ g.Name }}</label>
    </div>  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button class="btn btn-default" (click)="Submit()">Submit</button>
      </div>
    </div>  
</div>
</form>