<h2>Role Request</h2>
<p>Submit this form to request a change to your user role(s).  Roles are used to authorize access to 
  the different operations of the web site.  Be sure to include a comment describing the change you
  need.
</p>
<form novalidate="novalidate" name="roleForm" #roleForm="ngForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Your Name</label>:
      </div>
      <div class="col-md-8">
        <input id="FullName" name="FullName" #fullNameInput="ngModel" type="text" required="required" class="form-control" [(ngModel)]="roleRequest.FullName"/>
        <div [hidden]="fullNameInput.valid || fullNameInput.pristine" class="alert alert-danger">is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Comment</label>:
      </div>
      <div class="col-md-8">
        <textarea id="Comment" name="Comment" #commentInput="ngModel" required="required" class="form-control" rows="5" [(ngModel)]="roleRequest.Comment"></textarea>
        <div [hidden]="commentInput.valid || commentInput.pristine" class="alert alert-danger">is required</div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn btn-default" [disabled]="!roleForm.form.valid" (click)="Submit()">Submit</button>
    </div>
  </div>
  <div class="row" *ngIf="message">
    <div class="col-md-6 col-md-offset-3">
      {{message}}
    </div>
  </div>
</div>
</form>