<div>
  <div style="float: right; align-content: right;">
    <a  *ngIf="User" [routerLink]="['/user', User.UserId, 'groups']">Groups</a>
  </div>
  <h2>User</h2>
</div>
<h3 *ngIf="User">{{ User.ShortName }}</h3>
<div [hidden]="SpinnerHidden">  
  <i class="fa fa-cog fa-spin" style="font-size:36px; margin: 25px;"></i>
</div>
<form *ngIf="User" novalidate="novalidate" name="userForm" #userForm="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Full Name</label>:
        </div>
        <div class="col-md-8">
          <input id="FullName" name="FullName" #fullNameInput="ngModel" type="text" required="required" class="form-control" [(ngModel)]="User.FullName"/>
          <div [hidden]="fullNameInput.valid || fullNameInput.pristine" class="alert alert-danger">is required</div>
        </div>
      </div>      
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Short Name</label>:
        </div>
        <div class="col-md-8">
          <input id="ShortName" name="ShortName" #shortNameInput="ngModel" type="text" required="required" class="form-control" [(ngModel)]="User.ShortName"/>
          <div [hidden]="shortNameInput.valid || shortNameInput.pristine" class="alert alert-danger">is required</div>
        </div>
      </div>       
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Birth Date</label>:
        </div>
        <div class="col-md-8">
          <input id="BirthDate" name="BirthDate" #birthDateInput="ngModel" type="date" required="required" class="form-control" [(ngModel)]="User.BirthDate" useValueAsDate/>
          <div [hidden]="birthDateInput.valid || birthDateInput.pristine" class="alert alert-danger">is required</div>
        </div>
      </div>         
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Email Address</label>:
        </div>
        <div class="col-md-8">
          <input id="EmailAddress" name="EmailAddress" #emailAddressInput="ngModel" type="text" maxlength="250"
            required="required" 
            pattern="\S+@\S+" 
            class="form-control" 
            [(ngModel)]="User.EmailAddress"/>
  
          <div *ngIf="emailAddressInput.invalid && (emailAddressInput.dirty || emailAddressInput.touched)">
            <div *ngIf="emailAddressInput.errors.required" class="alert alert-danger">is required</div>
            <div *ngIf="emailAddressInput.errors.pattern" class="alert alert-danger">is invalid</div>
          </div>
        </div>
      </div>         
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Phone Number</label>:
        </div>
        <div class="col-md-8">
          <input id="PhoneNumber" name="PhoneNumber" #phoneNumberInput="ngModel" type="text" maxlength="15" 
            pattern="1{0,1}([\(\.\- ]{0,1}[0-9]{3}[\)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4})" 
            class="form-control"
            [(ngModel)]="User.PhoneNumber"/>
  
          <div *ngIf="phoneNumberInput.invalid && (phoneNumberInput.dirty || phoneNumberInput.touched)">
            <div *ngIf="phoneNumberInput.errors.pattern" class="alert alert-danger">is invalid</div>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <button class="btn btn-default" [disabled]="!userForm.form.valid" (click)="Submit()">Submit</button>
        </div>
      </div>  
    </div>
</form>