body {
    padding: 0px;
    margin: 0px;
    font-family: Consolas;
    max-width: 28cm;
    font-size: small;
}

.menu {
    list-style: none inside;
    margin: 0px;
    padding: 0px;
}

.menu li a {
    display: block;
    padding: 3px 0px;
    font-size: medium;
}

[hidden] { display: none !important;}