<h2>Unassigned Tasks</h2>
<div [hidden]="SpinnerHidden">  
  <i class="fa fa-cog fa-spin" style="font-size:36px; margin: 25px;"></i>
</div>
<div class="container-fluid">
    <div class="row" *ngIf="TaskTypes">
      <div class="col-md-2">
        <label class="control-label">Type</label>:
      </div>
      <div class="col-md-4">
        <select id="TaskType" name="TaskType" class="form-control" (change)="TaskTypeChange($event)">
          <option *ngFor="let tt of TaskTypes">{{ tt }}</option>
        </select>
      </div>
    </div>
    <div class="row" *ngIf="Groups">
        <div class="col-md-2">
          <label class="control-label">Group</label>:
        </div>
        <div class="col-md-4">
          <select id="Group" name="Group" class="form-control" (change)="GroupChange($event)">
            <option *ngFor="let g of Groups">{{ g }}</option>
          </select>
        </div>
      </div>
</div>
<p *ngIf="Message">{{ Message }}</p>
<table *ngIf="TasksFiltered">
  <tr *ngFor="let t of TasksFiltered">
    <td><a (click)="ClaimTask(t)">claim</a></td>
    <td>{{ t.Message }}</td>
    <td>{{ FormatTimestamp(t.CreateTimestamp) }}</td>
  </tr>
</table>